body {
   color: white;
    background-image: url("wood.jpg");
  }

  .results {
    font-size: 2em;
    margin-left: 2em;
    justify-items:center;
    line-height: 2;
    
  }
  .result {
    font-size: 2em;
    margin-bottom: 2em;
    text-align: center;
  }
  
  .choices {
    display: flex;
    justify-content: center;
  }
  
  .choice {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
  }
  
  .choice:hover {
    transform: scale(1.2);
  }

  .score {
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 2em;
  }