body {
    background-color: #CCC;
  }

  .results {
    font-size: 2em;
    margin-bottom: 3em;
    justify-items:center;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
  }
  .result {
    font-size: 2em;
    margin-bottom: 2em;
    text-align: center;
  }
  
  .choices {
    display: flex;
    justify-content: center;
  }
  
  .choice {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
  }
  
  .choice:hover {
    transform: scale(1.2);
  }

  .score {
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 2em;
  }